[Desktop Entry]
Version=1.0
Name=Digitale Briefwahl Downloader
Exec=digitale-briefwahl --url %u
Icon=digitale-briefwahl-url
Terminal=false
Type=Application
Categories=Education;
X-Desktop-File-Install-Version=0.21
MimeType=application/wahlurl;x-scheme-handler/wahlurl
